<div class="w-full flex flex-col h-full ">
      <div class="flex flex-row justify-center items-center">
        <h2 class="text-3xl">Ecarts</h2>
      </div>
      <div class="flex flex-row items-center justify-start ml-28 mb-7 mt-7 h-full">
        <label for="dateFilter" class="mr-2">Filtrer par date :</label>
        <input type="date" id="dateFilter" (change)="applyFilters()" [(ngModel)]="dateFilter" name="dateFilter" class="rounded-lg">
          
    </div>
      <div class="relative shadow-md sm:rounded-lg w-full mt-1">
        <table class="w-full text-2xl text-center text-gray-500 dark:text-gray-400">
          <thead class="text-2xl text-gray-700 uppercase dark:bg-gray-700 dark:text-gray-400">
            <tr class="border-b-2 border-solid">
              <th class="px-6 py-3">Partenaire</th>
              <th class="px-6 py-3">Ecart montant</th>
              <th class="px-6 py-3">Date</th>
              <th class="px-6 py-3">Ecart nombre</th>
            </tr>
          </thead>
          <tbody>
            <tr class="dark:bg-gray-800 dark:border-gray-700" *ngFor="let ecart of filteredEcarts" (click)="openModal(ecart)">
              <td class="px-6 py-4 text-gray-900">{{ ecart.partenaire }}</td>
              <td class="px-6 py-4">
                <div *ngIf="ecart.montant_ecart > 0" class="text-green-500">{{ ecart.montant_ecart | currency:'XOF' }}</div>
                <div *ngIf="ecart.montant_ecart < 0" class="text-red-500">{{ ecart.montant_ecart | currency:'XOF' }}</div>
              </td>
              <td class="px-6 py-4">{{ ecart.created_at | date:'d-MM-y' }}</td>
              <td class="px-6 py-4">{{ ecart.nombre }}</td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="!loaded" class="flex flex-row justify-center items-center w-full">
          <loader [columns]="4"></loader>
        </div>
        <div *ngIf="ecartModal?.isOpen" class="modal-overlay" (click)="closeModal()">
          <div class="modal-content" (click)="$event.stopPropagation()" *ngIf="selectedEcart">
            <app-ecart-modal [isOpen]="isModalOpen" [ecart]="selectedEcart"></app-ecart-modal>        </div>
      </div>

